@media screen and (max-width: 1000px) {
  :root {
    font-size: 8px;
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  :root {
    font-size: 24px;
  }
}

/* unfinished 
@media screen and (min-width: 1600px) {
  section.one {
    display: flex;
    flex-direction: column;
  }
}
*/

:root {
  font-family: sans-serif;
  font-size: 16px;
}
/* The navigation bar */

header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  margin: 0;
  width: 100vw;
}
.logo {
  color: #f9faf8;
  font-size: 1.5rem;
  font-weight: bolder;
  display: inline;
  margin: 0;
  margin-left: 10vw;
  width: 10vw;
  text-transform: capitalize;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-left: auto;
  padding: 0;
  margin-left: 20vw;
  margin-right: 5vw;
  width: 55vw;
}

li {
  color: #e5e7eb;
  font-size: 1.125rem;
  flex: 1;
  text-align: center;
  padding: 0 1rem;
}

/* Add section 1 in the page */
button {
  text-transform: capitalize;
  border-radius: 0.75rem;
  padding: 0.7rem 2rem;
  border: none;
}

section.one {
  display: flex;
  flex-direction: row;
  background-color: #1f2937;
  padding: 10vw;
}
section > div {
  flex: 1;
  width: 40vw;
}

h2.main {
  font-size: 3rem;
  font-weight: bolder;
  color: #f9faf8;
}

div.holder-text {
  background-color: rgb(40, 54, 66);
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

div.holder-text > p {
  text-align: center;
  padding: auto;
  margin: auto;
}

section.one p {
  color: #e5e7eb;
  font-size: 1.5rem;
}

button.blue {
  background-color: #3882f6;
  color: #e5e7eb;
}

/* 
bug:

I want to make the flex difrection be column wehnever the device width is less than
 1600px */

/* Add the info section */

section.two h2 {
  color: #1f2937;
  font-size: 2.25rem;
  font-weight: bolder;
  text-align: center;
}

section.two p {
  text-align: center;
}

div.info-flex {
  display: flex;
  flex-direction: row;
  width: 65vw;
  margin: 5rem 17.5vw;
  justify-content: space-around;
}

div.square {
  width: 9vw;
  height: 9vw;
  border: 0.25rem solid #3882f6;
  border-radius: 0.75rem;
  align-self: center;
  margin: 0 auto;
}

/* The quote section */
section.three {
  background-color: #e5e7eb;
}

blockquote {
  font-size: 2.25rem;
  font-weight: light;
  font-style: italic;
  color: #1f2937;
  text-align: center;
}

.quote-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5rem;
  width: 60vw;
}

div.quote-container div.thor {
  align-self: flex-end;
  font-weight: bold;
  margin-right: 10vw;
}

/* cta section */
section.four {
  padding: 0 18vw;
  margin: 5rem 0;
}

section.four button {
  border: 2px solid #e5e7eb;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
}
div.cta {
  display: flex;
  flex-direction: row;
  width: 40vw;
  padding: 5rem 10rem;
  background-color: #3882f6;
  border-radius: 2rem;
}
div.cta-text {
  flex: 2;
  color: #e5e7eb;
}
div.button-container {
  flex: 1;
}
